.circle{
    width: 90px;
    height: 90px;
    padding: 15px;
    border-radius: 96px;
}
.circle>img{
    width: 100%;
}


.body__header{
    color: #242F51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding-top: 28px;
    margin-bottom: 150px;
}
.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo__img {
    width: 50%;
}
.logo__text {
    font-size: 32px;
    font-weight: 700;
}
.text__sub {
    color: #FCAE61;
}
.header__nav {
    width: 50%;
}
.nav__undored {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.undored__list {
}
.list__link {
    color: #242F51;
}
.list__link:hover{
    border-bottom: 2px solid #242F51;
}
.header__icon{
    width: 22%;
    min-width: 300px;
}
.header__icon a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon__wa {
    width: 40px;
}
.icon__tel {
    font-size: 32px;
    font-weight: 700;
}

/* Основное меню */

.body__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__join {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #242F51;
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    background: url(../images/join__bg.png) no-repeat bottom;
    padding-bottom: 20vh;
    margin-bottom: 200px;
}
.join__tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 50px;
}
.tablet__date {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 100px;
    margin-bottom: 20px;
}
.date__icon {
    background-color: #FCAE61;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    padding: 5px;
}
.date__icon>img{
    width: 100%;
}
.date__text {
    padding: 4px 25px 4px 0;
    margin-left: 16px;
    line-height: 28px;
}
.text__num {
}
.tablet__title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}
.tablet__text {
    font-weight: 500;
    width: 80%;
    margin-bottom: 20px;
    line-height: 160%;
}
.tablet__btn {
    color: #FFF;
    background: #2500F9;
    padding: 15px 50px;
    border-radius: 150px;
    font-size: 25px;
    transition: transform 100ms;
}
.tablet__btn:active{
    transform: scale(0.9);
}
.join__img {
    width: 20%;
}


/* Вторая секция */
.main__what {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #616368;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 200px;
}
.what__img {
    width: 20%;
}
.what__course {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.course__title {
    color: #242F51;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.course__text {
    font-size: 25px;
    margin-bottom: 50px;
}
.course__privilege {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}
.course__privilege:last-child{
    margin-bottom: 0;
}
.privilege__img {
    margin-right: 50px;
}
.privilege__des {
    width: 420px;
}
.privilege__img-blue{
   background-color: #C9F1FF; 
}
.privilege__img--red{
    background-color: #FFABCA;
}
.privilege__img--violet{
    background-color: #A2AEE6;
    
}
.privilege__title--blue {
    color: #2B83FC;
}
.privilege__title--red {
    color: #FD3B85;
}
.privilege__title--violet {
    color: #697EDE;
}
.des__title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 14px;
}
.des__text {
}


/* Третья секция */
.main__extra {
    font-size: 20px;
    font-weight: 500;
    color: #616368;
    margin-bottom: 100px;
}
.extra__info {
    height: 1px;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}
.info__title {
    font-size: 50px;
    color: #242F51;
    font-weight: 700;
    width: 30%;
}
.info__line {
    width: 1px;
    height: 100%;
    background: #4B4A48;
}
.info__text {
    font-size: 25px;
    width: 50%;
}
.extra__course2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.course2__privilege2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.privilege2__img {
    margin-bottom: 15px;
}
.privilege2__img--blue {
    background: #C9F1FF;   
}
.privilege2__img--red {
    background: #FFABCA;
}
.privilege2__img--violet {
    background: #A2AEE6;
}
.privilege2__title {
    text-align: center;
    color: #242F51;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.privilege2__text {
}

.main__line{
    height: 1px;
    width: 100%;
    background: #E5E6E5;
    margin-bottom: 100px;
}


/* Четвертая секция */
.main__choise {
    font-size: 20px;
    font-weight: 500;
    color: #616368;
    margin-bottom: 200px;
}
.choise__about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__title {
    color: #242F51;
    font-size: 50px;
    font-weight: 700;
    width: 600px;
    margin-bottom: 50px;
}
.about__text {
    width: 60%;
    font-size: 25px;
    margin-bottom: 100px;
}
.choise__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.content__widget {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.widget__img {
   background: #C9F1FF;
   margin-bottom: 20px;
}
.widget__title {
    text-align: center;
    color: #242F51;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.widget__text {
}



/* Пятая секция */
.main__schedule {
    color: #242F51;
    margin-bottom: 100px;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}
.schedule__title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.schedule__text {
    color: #616368;
    font-weight: 500;
    width: 50%;
    margin-bottom: 50px;
}
.schedule__week {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.week__days {
    width: 65%;
}
.tab__text {
    position: relative;
	border: 1px dashed gray;
	border-top: none;
	font-size: 20px;
    font-weight: 500;
    color: #616368;
	padding: 10px 15px;
	height: 560px;
	transition: all 0.5s;
	opacity: 1;
    margin-bottom: 20px;
    z-index: -100;
}
.days__tab:not(.active) .tab__text {
	height: 0;
	opacity: 0;
	padding: 0px;
	border-width: 0;
}
.days__aside {
    cursor: pointer;
    background: #F5F7FA;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.days__aside:last-child{
    margin-bottom: 0;
}
.aside__text {
    width: 100%;
}
.text__plus {
    width: 35px;
    height: 35px;
    position: relative;
    transition: all 0.5s;
}
.text__plus::after, .text__plus::before{
    content: '';
    background: #242F51;
    height: 3px;
    width: 35px;
    position: absolute;
    left: 0;
    top:50%;
}
.text__plus::after{
    transform: rotate(90deg);
}
.text__plus--rotate{
    transform: rotate(45deg);
}
.week__img {
    width: 30%;
}


/* Шестая секция */
.main__cost {
    color: #616368;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cost__title {
    color: #242F51;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}
.cost__text {
    width: 50%;
    margin-bottom: 50px;
}
.cost__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.row__elem {
    border-radius: 11px;
    border: 1px solid #616368;
    padding-bottom: 20px;
}
.elem__top {
    border-radius: 11px 11px 0 0;
    background: linear-gradient(to bottom, #FFF, #EBF7FF);
    padding: 40px 60px;
    margin-bottom: 40px;
}
.top__price {
    font-size: 50px;
    color: #242F51;
    font-weight: 700;
    margin-bottom: 20px;
}
.top__title {
    color: #242F51;
    font-weight: 700;
}
.elem__text {
    margin-bottom: 40px; 
}
.elem__btn {
    color: #FFF;
    background: #2500F9;
    padding: 15px 50px;
    border-radius: 150px;
    font-size: 25px;
    transition: transform 100ms;
}
.elem__btn:active{
    transform: scale(0.9);
}


/* Седьмая секция */
.main__feedback {
    color: #616368;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.feedback__title {
    color: #242F51;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 18px;
}
.feedback__text {
    font-size: 25px;
    width: 70%;
    margin-bottom: 50px;
}
.feedback__people {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.people__box {
    width: 30%;
    height: 35vh;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    padding: 40px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.box__up {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.up__img {
    margin-right: 10px;
}
.up__img>img{
    width: 100%;
    border-radius: 429px;
}
.up__name {
    color: #242F51;
    font-size: 20px;
    font-weight: 700;
}
.box__text {
    text-align: left;
}


/* Подвал */
.body__footer {
    background: #09142E;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    font-weight: 700;
    font-size: 25px;
    padding: 10px 0;
    text-align: center;
}
.footer__logo {
    width: 150px;
}
.footer__title {
    font-size: 32px;
    margin-bottom: 50px;
}
.title__sub {
    color: #FCAE61;
}
.footer__icon {
    margin-bottom: 50px;
}
.footer__icon img {
    width: 50px;
}
.footer__icon >a:nth-child(2){
    margin: 0 30px;
}
.footer__text {
}


@media (max-width:1250px) {
    .header__nav {
        width: 60%;
    }
    .header__icon {
        width: 40px;
        min-width: 0px;
    }
    .header__icon a {
        justify-content: center;
    }
    .icon__tel{
        display: none;
    }
}
@media (max-width:1024px){
    .body__header,.main__join, .main__what, .main__extra, .main__choise, .main__cost {
        margin-bottom: 100px;
    }
    .main__join{
        flex-direction: column-reverse;
    }
    .main__what, .cost__row{
        flex-direction: column;
    }
    .join__tablet {
        align-items: center;
        margin-right: 0;
    }
    .tablet__text{
        text-align: center;
    }
    .join__img, .what__img, .row__elem{
        margin-bottom: 50px;
    }
    .what__img{
        width: 250px;
    }
    .extra__course2{
        flex-wrap: wrap;
    }
    .course2__privilege2{
        width: 30%;
    }
}
@media (max-width:900px) {
    .body__header, .extra__course2{
        flex-direction: column;
    } 
    .header__nav {
        width: 80%;
    }
    .header__logo,.header__nav, .week__days, .main__schedule,  .main__line{
        margin-bottom: 50px;
    }
    .schedule__week{
        flex-direction: column;
    }
    .course2__privilege2{
        width: 50%;
        text-align: center;
        margin-bottom: 50px;
    }
    .main__schedule{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .week__img{
        width: 300px;
    }
    .schedule__week{
        text-align: left;
    }
    .week__days{
        width: 100%;
    }
    .people__box{
        width: 45%;
    }
    .lock{
        display: none;
    }
}
@media (max-width:800px){
    .tablet__title, .about__title, .schedule__title, .cost__title, .top__price, .feedback__title {
        width: 100%;
        font-size: 40px;
        text-align: center;
    }
    .join__img{
        width: 250px;
    }
    .cost__text {
        width: 100%;
    }
    .tab__text {
        height: 850px;
    }
}
@media (max-width:700px){
    .header__nav {
        width: 100%;
    }
}
@media (max-width:600px){
    .main__what{
        text-align: center;
    }
    .what__course{
        align-items: center;
    }
    .course__privilege{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .privilege__img {
        margin-right: 0;
    }
    .schedule__text, .feedback__text, .about__text{
        width: 100%;
    }
}
@media (max-width:550px){
    .tablet__text, .course__text, .about__text, .schedule__text, .cost__text, .feedback__text{
        font-size: 20px
    }
    .tablet__text{
        width: 100%;
    }
    .nav__undored{
        flex-direction: column;
    }
    .header__logo,.header__nav{
        margin-bottom: 25px;
    }
    .undored__list{
        margin-bottom: 15px;
    }
    .undored__list:last-child{
        margin-bottom: 0;
    }

    .privilege__des {
        width: 100%;
    }
    .content__widget {
        width: 100%;
    }
    .elem__top {
        padding: 20px 30px;
    }
    .people__box{
        width: 100%;
    }
    .lock2{
        display: none;
    }
    .course2__privilege2 {
        width: 100%;
    }
}
@media (max-width:450px){
    .tab__text{
        white-space: nowrap;
        height: 450px;
    }
    .tab__text p{
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (max-width:400px){
    .tablet__date {
        background-color: white;
    }
    .tablet__title {
        font-size: 35px;
    }
    .elem__top {
        padding: 10px 15px;
    }
}